.elementor-396 .elementor-element.elementor-element-6584a77 iframe {
    height: 400px
}

.elementor-396 .elementor-element.elementor-element-75822ea0>.elementor-element-populated {
    margin: 0 0 0 0
}

.elementor-396 .elementor-element.elementor-element-1398ac6b {
    text-align: left
}

.elementor-396 .elementor-element.elementor-element-1398ac6b .elementor-image img {
    width: 170px;
    transition-duration: 0.3s
}

.elementor-396 .elementor-element.elementor-element-1398ac6b .elementor-image:hover img {
    opacity: .83
}

.elementor-396 .elementor-element.elementor-element-abbab31.elementor-widget-heading .elementor-heading-title {
    color: #fff
}

.elementor-396 .elementor-element.elementor-element-abbab31 .elementor-heading-title {
    font-size: 1rem;
    font-weight: 600
}

.elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(7px/2)
}

.elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(7px/2)
}

.elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(7px/2);
    margin-left: calc(7px/2)
}

.elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-7px/2);
    margin-left: calc(-7px/2)
}

body.rtl .elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-7px/2)
}

body:not(.rtl) .elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-7px/2)
}

.elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-icon i {
    color: #fff;
    font-size: 14px
}

.elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-icon svg {
    fill: #fff
}

.elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-icon {
    width: 14px
}

.elementor-396 .elementor-element.elementor-element-ae3fe26 .elementor-icon-list-text {
    color: #d1d1d1
}

.elementor-396 .elementor-element.elementor-element-33f643b.elementor-widget-heading .elementor-heading-title {
    color: #fff
}

.elementor-396 .elementor-element.elementor-element-33f643b .elementor-heading-title {
    font-size: 1rem;
    font-weight: 600
}

.elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(7px/2)
}

.elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(7px/2)
}

.elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(7px/2);
    margin-left: calc(7px/2)
}

.elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-7px/2);
    margin-left: calc(-7px/2)
}

body.rtl .elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-7px/2)
}

body:not(.rtl) .elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-7px/2)
}

.elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-icon i {
    color: #fff;
    font-size: 14px
}

.elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-icon svg {
    fill: #fff
}

.elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-icon {
    width: 14px
}

.elementor-396 .elementor-element.elementor-element-8c46b19 .elementor-icon-list-text {
    color: #d1d1d1
}

.elementor-396 .elementor-element.elementor-element-241abac5 {
    text-align: left
}

.elementor-396 .elementor-element.elementor-element-241abac5 .elementor-social-icon {
    background-color: rgba(255, 255, 255, .21);
    font-size: 15px;
    padding: .6em
}

.elementor-396 .elementor-element.elementor-element-241abac5 .elementor-social-icon i {
    color: #fff
}

.elementor-396 .elementor-element.elementor-element-241abac5 .elementor-social-icon svg {
    fill: #fff
}

.elementor-396 .elementor-element.elementor-element-241abac5 .elementor-social-icon:not(:last-child) {
    margin-right: 9px
}

.elementor-396 .elementor-element.elementor-element-241abac5 .elementor-social-icon:hover {
    background-color: #fff
}

.elementor-396 .elementor-element.elementor-element-241abac5 .elementor-social-icon:hover i {
    color: #001c38
}

.elementor-396 .elementor-element.elementor-element-241abac5 .elementor-social-icon:hover svg {
    color: #001c38
}

.elementor-396 .elementor-element.elementor-element-241abac5>.elementor-widget-container {
    padding: 20px 0 0 0
}

.elementor-396 .elementor-element.elementor-element-71c7bda8.elementor-column .elementor-column-wrap {
    align-items: flex-start
}

.elementor-396 .elementor-element.elementor-element-71c7bda8.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start
}

.elementor-396 .elementor-element.elementor-element-71c7bda8:not(.elementor-motion-effects-element-type-background)>.elementor-element-populated,
.elementor-396 .elementor-element.elementor-element-71c7bda8>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgba(0, 0, 0, 0)
}

.elementor-396 .elementor-element.elementor-element-71c7bda8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s
}

.elementor-396 .elementor-element.elementor-element-71c7bda8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--main {
    font-size: 1rem;
    font-weight: 300
}

.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--main .elementor-item {
    color: #cecece
}

.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--main .elementor-item:hover,
.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--main .elementor-item:focus {
    color: #8aba2b
}

.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown a,
.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-menu-toggle {
    color: #d8d8d8
}

.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown {
    background-color: rgba(0, 0, 0, 0)
}

.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown a:hover,
.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown a.highlighted,
.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-menu-toggle:hover {
    color: #8aba2b
}

.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown a:hover,
.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown a.highlighted {
    background-color: rgba(0, 0, 0, 0)
}

.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #8aba2b;
    background-color: rgba(0, 0, 0, 0)
}

.elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: #f7f7f7;
    border-bottom-width: 0
}

.elementor-396 .elementor-element.elementor-element-2857420.elementor-column .elementor-column-wrap {
    align-items: flex-start
}

.elementor-396 .elementor-element.elementor-element-2857420.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start
}

.elementor-396 .elementor-element.elementor-element-754197e5 {
    text-align: left
}

.elementor-396 .elementor-element.elementor-element-754197e5.elementor-widget-heading .elementor-heading-title {
    color: #fff
}

.elementor-396 .elementor-element.elementor-element-754197e5 .elementor-heading-title {
    font-size: 1.2rem;
    font-weight: 300
}

.elementor-396 .elementor-element.elementor-element-4dcf8a8f:not(.elementor-motion-effects-element-type-background),
.elementor-396 .elementor-element.elementor-element-4dcf8a8f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #222
}

.elementor-396 .elementor-element.elementor-element-4dcf8a8f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0 30px 0
}

.elementor-396 .elementor-element.elementor-element-4dcf8a8f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-396 .elementor-element.elementor-element-4a37d765>.elementor-container {
    min-height: 50px
}

.elementor-396 .elementor-element.elementor-element-4a37d765>.elementor-container:after {
    content: "";
    min-height: inherit
}

.elementor-396 .elementor-element.elementor-element-4e6ce4d0 {
    text-align: left
}

.elementor-396 .elementor-element.elementor-element-4e6ce4d0.elementor-widget-heading .elementor-heading-title {
    color: #adadad
}

.elementor-396 .elementor-element.elementor-element-4e6ce4d0 .elementor-heading-title {
    font-size: 12px;
    font-weight: 300
}

.elementor-396 .elementor-element.elementor-element-301af227 {
    text-align: right
}

.elementor-396 .elementor-element.elementor-element-301af227.elementor-widget-heading .elementor-heading-title {
    color: #adadad
}

.elementor-396 .elementor-element.elementor-element-301af227 .elementor-heading-title {
    font-size: 12px;
    font-weight: 300
}

.elementor-396 .elementor-element.elementor-element-4a37d765:not(.elementor-motion-effects-element-type-background),
.elementor-396 .elementor-element.elementor-element-4a37d765>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #212121
}

.elementor-396 .elementor-element.elementor-element-4a37d765 {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: rgba(255, 255, 255, .19);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s
}

.elementor-396 .elementor-element.elementor-element-4a37d765>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center
}

@media(min-width:768px) {
    .elementor-396 .elementor-element.elementor-element-71c7bda8 {
        width: 29.737%
    }
    .elementor-396 .elementor-element.elementor-element-2857420 {
        width: 36.927%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-396 .elementor-element.elementor-element-75822ea0 {
        width: 33.3333333333%
    }
    .elementor-396 .elementor-element.elementor-element-71c7bda8 {
        width: 33.3333333333%
    }
    .elementor-396 .elementor-element.elementor-element-2857420 {
        width: 33.3333333333%
    }
}

@media(max-width:1024px) {
    .elementor-396 .elementor-element.elementor-element-75822ea0>.elementor-element-populated {
        margin: 0% 15% 0% 0%
    }
    .elementor-396 .elementor-element.elementor-element-241abac5 .elementor-social-icon {
        font-size: 10px
    }
    .elementor-396 .elementor-element.elementor-element-2857420>.elementor-element-populated {
        margin: 0 0 0 0
    }
    .elementor-396 .elementor-element.elementor-element-4dcf8a8f {
        padding: 50px 20px 50px 20px
    }
    .elementor-396 .elementor-element.elementor-element-4a37d765 {
        padding: 10px 20px 10px 20px
    }
}

@media(max-width:767px) {
    .elementor-396 .elementor-element.elementor-element-75822ea0 {
        width: 100%
    }
    .elementor-396 .elementor-element.elementor-element-75822ea0>.elementor-element-populated {
        margin: 0 0 20px 0;
        padding: 0 0 0 0
    }
    .elementor-396 .elementor-element.elementor-element-1398ac6b .elementor-image img {
        width: 70px
    }
    .elementor-396 .elementor-element.elementor-element-241abac5 {
        text-align: left
    }
    .elementor-396 .elementor-element.elementor-element-71c7bda8 {
        width: 100%
    }
    .elementor-396 .elementor-element.elementor-element-71c7bda8>.elementor-element-populated {
        margin: 0 0 20px 0;
        padding: 0 0 0 0
    }
    .elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--dropdown a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px
    }
    .elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-396 .elementor-element.elementor-element-ef35e33 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 0px!important
    }
    .elementor-396 .elementor-element.elementor-element-2857420 {
        width: 100%
    }
    .elementor-396 .elementor-element.elementor-element-2857420>.elementor-element-populated {
        padding: 0 0 0 0
    }
    .elementor-396 .elementor-element.elementor-element-754197e5 {
        text-align: left
    }
    .elementor-396 .elementor-element.elementor-element-4dcf8a8f {
        padding: 35px 20px 35px 20px
    }
    .elementor-396 .elementor-element.elementor-element-2284d3bb>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }
    .elementor-396 .elementor-element.elementor-element-4e6ce4d0 {
        text-align: center
    }
    .elementor-396 .elementor-element.elementor-element-301af227 {
        text-align: center
    }
    .elementor-396 .elementor-element.elementor-element-4a37d765 {
        padding: 30px 20px 20px 20px
    }
}